body {
  background-color: white;
}

div {
  background-color: red;
  margin-left: 20px;
  max-width: 400px;
  margin-right: 20px;
  padding: 20px;
  font-family: Andale Mono;
  font-size: 25px;
  color: white;
  margin-bottom:20px;
}

a {
	color: white;

}